<!-- Footer -->
<footer class=" bg-dark mt-5 p-2" id="footer">
    <!-- Navbar Menu -->
    <div class="container"> <!-- Fix for Mobile in future -->
        <div class="d-flex flex-row justify-content-center">
            <a class="p-2" href="#About">About</a>
            <a class="p-2" href="#Experience">Experience</a>
            <a class="p-2" href="#Projects">Projects</a>
            <a class="p-2" href="#Contact">Contact</a>
            <a class="p-2" href="#">Resume</a>
        </div>
    </div>
</footer>