@import "../styles.scss";

$lm-blue-img: "../assets/lm-blue-img.png";
$lm-orange-img: "../assets/lm-orange-img.png";
$lm-header-img: "../assets/lm-header-img.png";
$lm-about-img: "../assets/lm-about-img.png";
$lm-contact-img: "../assets/lm-contact-img.png";

//fix thin section title lines + add space

.section-title{
  margin-top:20px;
  margin-bottom:20px;
  color:$color-darkestgray;
  //border: solid black 2px;

}

section, header{
  //border: solid black 2px;
  margin-top:4%;
}

.section-title-outer{
  border-style: solid;
  border-width: 3px;
  border-radius: 12px;
  border-color: $color-green;
  background-color:white;
  height:40px;
  width: 150px;
  margin-left:20px;
  position:relative;
}

.section-title-inner{
  position: absolute;
  border-style: solid;
  border-width: 3px;
  border-radius: 12px;
  border-color: $color-darkestgray;
  background-color:white;
  height:40px;
  width: 150px;
  margin-left:-10px;
  margin-top:-9px;
  text-align: center;
}

main{
  width:100%;
}
.section-content{
  width:98%;
  margin-right: auto;
  margin-left: auto;
  //border: solid black 2px;
}

.left-content, .right-content, .about-content, .contact-content, .header-content{
  margin-left: auto;
  margin-right: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  //border: solid black 2px;
  background-position: center;
}

.header-content{
  margin-top: 5%;
  margin-bottom: 2%;
  background-image: url($lm-header-img);

}
.about-content{
  background-image: url($lm-about-img);
}
.left-content{
  background-image: url($lm-blue-img);
}
.right-content{
  background-image: url($lm-orange-img);
  margin-top:4%;
  margin-bottom: 4%;
}
.contact-content{
  background-image: url($lm-contact-img);
}

#Experience, #Projects{
  li{
    list-style: none;
  }
}

//0 - 576
@include media-breakpoint-up(xs) {
  .left-content, .right-content, .about-content, .contact-content, .header-content{
    max-width:98%;
    min-height:200px;
    max-height:250px;
  }
  .left-content{
    min-height:215px;
  }
}

//576px - 768px
@include media-breakpoint-up(sm) {
  .left-content, .right-content, .about-content, .contact-content, .header-content{
    max-width:98%;
    min-height:300px;
  }
  .left-content{
    min-height:315px;
  }
  .section-title-outer, .section-title-inner{
    min-height:50px;
    min-width:170px;
      h2{
        font-size: 30px;
        text-align: center;
      }
    }
}

//768px - 992px
@include media-breakpoint-up(md) {
  .left-content, .right-content, .about-content, .contact-content, .header-content{
    max-width:98%;
    min-height:400px;
  }
  .left-content{
    min-height:415px;
  }
  .section-title-outer, .section-title-inner{
    min-height:60px;
    min-width:210px;
    h2{
      font-size: 40px;
      text-align: center;
    }
  }
}

//992px - 1200px
@include media-breakpoint-up(lg) {
  .left-content, .right-content, .about-content, .contact-content, .header-content{
    max-width:75%;
    min-height:400px;
    margin-top:6%;
    margin-bottom: 6%;
  }
  .left-content, .right-content{
    margin-top: 10%;
    margin-bottom:10%;
    min-height:415px;
    max-width:85%;
    margin-right:2%;
  }
  .about-content{
    max-width: 80%;
  }
  .section-title-outer, .section-title-inner{
    min-height:70px;
    min-width:260px;
    h2{
      font-size: 50px;
      text-align: center;
    }
  }
}

//1200px - 1400px
@include media-breakpoint-up(xl) {
  .left-content, .right-content, .about-content, .contact-content, .header-content{
    max-width:75%;
    min-height:500px;
    margin-top:6%;
    margin-bottom: 6%;
  }
  .left-content, .right-content{
    margin-top: 10%;
    margin-bottom:10%;
    min-height:515px;
    max-width:85%;
    margin-left:2%;
  }
  .about-content{
    max-width: 80%;
  }

  .section-title-outer, .section-title-inner{
    min-height:80px;
    min-width:310px;
    h2{
      font-size: 60px;
      text-align: center;
    }
  }
}

//1400px and up
@include media-breakpoint-up(xxl) {
  .left-content, .right-content, .about-content, .contact-content, .header-content{
    max-width:75%;
    min-height:600px;
    margin-top:6%;
    margin-bottom: 6%;
  }
  .left-content, .right-content{
    margin-top: 10%;
    margin-bottom:10%;
    min-height:615px;
    max-width:85%;
    margin-left:2%;
  }
  .about-content{
    max-width: 80%;
  }
  .section-title-outer, .section-title-inner{
    min-height:90px;
    min-width:360px;
    h2{
      font-size: 70px;
      text-align: center;
    }
  }
}