<app-navigation></app-navigation>
    <!-- Main Content -->
    <main class="justify-content-center">
        <!-- Header -->
        <header id="Header">
            <div class="section-content">
                <div class="header-content">
                </div>
            </div>
        </header>

        <!-- About Me -->
        <section id="About">
            <!--Section Title-->
            <div class="d-flex flex-row-reverse me-4">
                <div class="section-title">
                    <div class="section-title-outer">
                        <div class="section-title-inner">
                            <h2>About</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-content">
                <div class="about-content">
                </div>
            </div>
        </section>

        <!-- Experience -->
        <section id="Experience">
            <!--Section Title-->
            <div class="d-flex flex-row ms-4">
                <div class="section-title">
                    <div class="section-title-outer">
                        <div class="section-title-inner">
                            <h2>Experience</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-content">
                <div class="right-content">
                </div>
                <div class="left-content">
                </div>
                <div class="right-content">
                </div>
            </div>
        </section>

    <!-- Projects -->
        <section id="Projects">
            <!--Section Title-->
            <div class="d-flex flex-row-reverse me-4">
                <div class="section-title">
                    <div class="section-title-outer">
                        <div class="section-title-inner">
                            <h2>Projects</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-content">
                <div class="left-content">
                </div>
                <div class="right-content">
                </div>
                <div class="left-content">
                </div>
            </div>
        </section>

    <!-- Contact Me Form -->
        <section id="Contact">
            <!--Section Title-->
            <div class="d-flex flex-row ms-4">
                <div class="section-title">
                    <div class="section-title-outer">
                        <div class="section-title-inner">
                            <h2>Contact</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-content">
                <div class="contact-content">
                </div>
            </div>
        </section>

    </main>
    <app-footer></app-footer>
    <router-outlet></router-outlet>
