    <!-- Navigation -->
    <nav>
        navbar
    </nav>

    <!-- Header -->
    <header>
        Header stuff
    </header>

    <!-- Main Content -->
    <main>
        <!-- About Me -->
        <section id="About">
            About Me
        </section>

        <!-- Experience -->
        <section id="Experience">
            Experience
        </section>

        <!-- Projects -->
        <section id="Projects">
            Projects
        </section>

        <!-- Contact Me Form -->
        <section id="Contact">
            Contact
        </section>
    </main>


    <!-- Footer -->
    <footer>
        Footer Stuff
    </footer>


<router-outlet></router-outlet>
